@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;

}

html {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%230D6EFD" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>'), auto !important;

}

a,
button {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="36" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%230D6EFD" stroke-width="2" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'), auto !important;
}

::-webkit-scrollbar {
    width: 7px;
    z-index: -1
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.5) !important;
    box-shadow: 0 0 1px #ddd inset;
    backdrop-filter: blur(10px) !important;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(13, 110, 253, 60%);
    border-radius: 30px;

}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(13, 110, 253);
}

body {
    font-family: "SN Pro", sans-serif !important;
    background-color: #F6F6F8;
    height: 500vh;
    transition: 1s;
}

body.dark::-webkit-scrollbar-track {
    background-color: rgba(15, 23, 42, 0.6) !important;
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.1) !important;
}


body.dark {
    background-color: #0F172A !important;
}

body.dark i.bi-list {
    color: #0d6efd !important
}

body.dark nav {
    background-color: #0F172A !important;
    color: #F6F6F8 !important;

    z-index: 10;
}

body.dark nav.nav-scroll {
    background: rgba(255, 255, 255, 0.15) !important;
    backdrop-filter: blur(10px) !important;
}

nav.nav-scroll {
    background: rgba(255, 255, 255, 0.15) !important;
    backdrop-filter: blur(10px) !important;
}

body.dark .nav-link {
    color: #ccc !important;
}

body.dark .nav-link.active {
    color: #F6F6F8 !important;
}

body.dark .nav-link:hover {
    color: #2696E9 !important;
}

body.dark .bi-sun-fill {
    color: gold !important;
    transition: 1s;
}

body.dark .text h1,
body.dark .text h2 {
    color: white;
}

.nav-links-custom {
    font-size: 18px !important;
    line-height: 1.25rem !important;
    transition: 0.3s ease-in-out;
    font-weight: 500 !important;
}

.nav-links-custom:hover {
    color: #135bec !important;
}

#Toggle-menu-custom:focus {
    box-shadow: 0 0 0 0 !important;
    color: #2897EA !important;
}

.bi-moon-fill {
    color: #2a3d69 !important;
    transition: .3s;
}

.bi-moon-fill:hover {
    color: #0d6efd !important;
}

#Toggle-menu-custom:focus .navbar-toggler-icon {
    color: #2897EA !important;
}

.nav-custom {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: 1s;
}

.navbar-brand {
    width: 200px;
}

#home {
    margin-top: 5rem;
    position: relative;
    height: 86.2vh;
}

.icon-page-1 {
    position: absolute;
    left: 70px;
    top: 20px;
    font-size: 70px;
    transform: rotate(-30deg);
    color: rgba(13, 109, 253, 0.265);
    z-index: -1;
}



.icon-page-2 {
    position: absolute;
    right: 70px;
    bottom: 30px;
    font-size: 70px;
    transform: rotate(20deg);
    color: rgba(13, 109, 253, 0.265);
    z-index: -1;
}


.img-parent {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    background-color: #2896eabf;
    box-shadow: 3px 3px 10px 1px #2896eabf,
        -3px -3px 10px 1px #2896eabf;
    margin: 0 auto;
    color: rgba(0, 180, 2180, 0.06);
}

.img-child {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    animation: top-down-jumbing 5s infinite ease-in-out;
    border: 4px solid #F6F6F8;
}

.img-child img {
    width: 100%;
    position: absolute;
    left: 0;
    top: -70px;
}

.text p {
    font-size: 20px;
    color: #6b7280;
    letter-spacing: 1;
    margin-bottom: 8px;
}

.text h1 {
    display: inline-block;
    font-size: 42px;
    font-weight: 500;
    color: #111827;
    font-family: "SN Pro", sans-serif;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
    padding-right: 5px;
    text-align: center;
    width: 0;
    animation: typed 5s infinite;
    position: relative;
}

.text h1::after {
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    border-radius: 30px;
    height: 80%;
    background-color: #0D6EFD;
    animation: cursor step-end .2s infinite alternate;
    margin: 0 auto;
}

@keyframes cursor {
    50% {
        background-color: transparent;
    }
}

@keyframes typed {
    0% {
        width: 0;
    }

    25% {
        width: 19ch;
    }

    50% {
        width: 19ch;
    }

    75% {
        width: 19ch;
    }

    100% {
        width: 0;
    }
}

.text h1,
.text h2 {
    transition: 1s;
}

@keyframes top-down-jumbing {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}

/* From Uiverse.io by mrhyddenn */
.scrolldown {
    --color: white;
    --sizeX: 30px;
    --sizeY: 50px;
    position: relative;
    width: var(--sizeX);
    height: var(--sizeY);
    margin-left: var(sizeX / 2);
    border: calc(var(--sizeX) / 10) solid var(--color);
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 16px;
    cursor: pointer;
}

.scrolldown::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: var(--color);
    border-radius: 100%;
    animation: scrolldown-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px #2a547066;
}

@keyframes scrolldown-anim {
    0% {
        opacity: 0;
        height: 6px;
    }

    40% {
        opacity: 1;
        height: 10px;
    }

    80% {
        transform: translate(0, 20px);
        height: 10px;
        opacity: 0;
    }

    100% {
        height: 3px;
        opacity: 0;
    }
}

.scroll-down-animation {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 70px;
    width: 30px;
    height: 50px;
    border-radius: 60px;
    border: 2px solid #0d6efd;
}

.scroll-down-animation .ball {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #0d6efd;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    animation: scroll-down 2s infinite ease-in-out;
}

@keyframes scroll-down {
    0% {
        top: 4px;
    }

    50% {
        top: 26px;
    }

    100% {
        top: 4px;
    }
}

/* custom media query */



@media(max-width:576px) {
    .nav-links-custom {
        font-size: 15px !important;
    }

    .text h1 {
        text-align: center;
        font-size: 30px;
    }

    .text h2 {
        font-size: 25px;
    }

    .img-parent,
    .img-child {
        width: 230px;
        height: 230px;
    }
}



@media (max-width:768px) {
    .navbar-brand {
        width: 150px;
    }

    .icon-page-1,
    .icon-page-2 {
        font-size: 35px;
    }

    .icon-page-1 {
        left: 25px;
        top: -10px;
    }

    .icon-page-2 {
        right: 25px;
        bottom: -20px;
    }

    .img-child img {
        top: -50px;
    }

    .scroll-down-animation {
        bottom: 2px;
    }
}

@media(min-width:992px) {
    .Custom-Border {
        border: none !important;
    }

    .img-parent {
        margin-top: 110px;
    }

}