@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;

}

html {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%230D6EFD" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>'), auto !important;

}

a,
button {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="36" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%230D6EFD" stroke-width="2" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'), auto !important;
}

::-webkit-scrollbar {
    width: 7px;
    z-index: -1
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.5) !important;
    box-shadow: 0 0 1px #ddd inset;
    backdrop-filter: blur(10px) !important;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(13, 110, 253, 60%);
    border-radius: 30px;

}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(13, 110, 253);
}

body {
    font-family: "SN Pro", sans-serif !important;
    background-color: #F6F6F8;
    transition: 1s;
}

body.dark::-webkit-scrollbar-track {
    background-color: rgba(15, 23, 42, 0.6) !important;
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.1) !important;
}


body.dark {
    background-color: #0F172A !important;
}

body.dark i.bi-list {
    color: #0d6efd !important
}

body.dark nav {
    background-color: #0F172A !important;
    color: #F6F6F8 !important;

    z-index: 10;
}

body.dark nav.nav-scroll {
    background: rgba(255, 255, 255, 0.15) !important;
    backdrop-filter: blur(10px) !important;
}

nav.nav-scroll {
    background: rgba(255, 255, 255, 0.15) !important;
    backdrop-filter: blur(10px) !important;
}

body.dark .nav-link {
    color: #ccc !important;
}

body.dark .nav-link.active {
    color: #F6F6F8 !important;
}

body.dark .nav-link:hover {
    color: #2696E9 !important;
}

body.dark .bi-sun-fill {
    color: gold !important;
    transition: 1s;
}

body.dark .text h1,
body.dark .text h2 {
    color: white;
}

body.dark .custom-heading-section {
    color: white;
}

body.dark #about .text p {
    color: #e0e0e0;
}

body.dark #projects .card {
    background-color: #090d28;
    border: 1.5px solid rgba(100, 116, 129, 0.2);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

body.dark #projects .card:hover {
    border-color: rgba(96, 165, 250, 0.5);
    box-shadow: 0 20px 45px rgba(96, 165, 250, 0.25);
}

body.dark #projects .card h3 {
    color: #60a5fa;
}

body.dark #projects .card h4 {
    font-size: 16px;
    font-weight: 600;
    color: #8f92af;
}

body.dark #projects .card p {
    color: #d6ddf4 !important;
}

body.dark #projects .card .date-group {
    color: #94a3b8;
}

body.dark #projects .card .tech {
    background-color: rgba(96, 165, 250, 0.12);
    color: #93c5fd;
}

body.dark #education .con-div-edu {
    background: #0b1630 !important;
    border: 1px solid rgba(255, 255, 255, 0.05) !important;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6) !important;
}

body.dark #education .con-div-edu h3 {
    color: #60a5fa !important;
}

body.dark #education .con-div-edu .edu-date,
body.dark #education .con-div-edu .edu-div {
    background: rgba(13, 110, 253, 0.1);
    color: #4da3ff;
}

body.dark #education article p {
    color: #d6ddf4 !important;
}

body.dark #skills .carous .logos-slider .logo {
    background-color: rgba(96, 165, 250, 0.12);
    color: #93c5fd;
}

body.dark #skills .carous::before {
    left: 0;
    background: linear-gradient(to right, rgba(15, 23, 42, 0.95), transparent);
    /* filter: blur(25px); */
}

body.dark #skills .carous::after {
    right: 0;
    background: linear-gradient(to left, rgba(15, 23, 42, 0.95), transparent);
    /* filter: blur(25px); */
}

.nav-links-custom {
    font-size: 18px !important;
    line-height: 1.25rem !important;
    transition: 0.3s ease-in-out;
    font-weight: 500 !important;
}

.nav-links-custom:hover {
    color: #135bec !important;
}

#Toggle-menu-custom:focus {
    box-shadow: 0 0 0 0 !important;
    color: #2897EA !important;
}

.bi-moon-fill {
    color: #2a3d69 !important;
    transition: .3s;
}

.bi-moon-fill:hover {
    color: #0d6efd !important;
}

#Toggle-menu-custom:focus .navbar-toggler-icon {
    color: #2897EA !important;
}

.nav-custom {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: 1s;
}

.navbar-brand {
    width: 200px;
}

#home {
    margin-top: 5rem;
    position: relative;
    height: 86.2vh;
}

.icon-page-1 {
    position: absolute;
    left: 70px;
    top: 20px;
    font-size: 70px;
    transform: rotate(-30deg);
    color: rgba(13, 109, 253, 0.265);
    z-index: -1;
}



.icon-page-2 {
    position: absolute;
    right: 70px;
    bottom: 30px;
    font-size: 70px;
    transform: rotate(20deg);
    color: rgba(13, 109, 253, 0.265);
    z-index: -1;
}


.img-parent {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    background-color: #2896eabf;
    box-shadow: 3px 3px 10px 1px #2896eabf,
        -3px -3px 10px 1px #2896eabf;
    margin: 0 auto;
    color: rgba(0, 180, 2180, 0.06);
}

.img-child {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    animation: top-down-jumbing 5s infinite ease-in-out;
    border: 4px solid #F6F6F8;
}

.img-child img {
    width: 100%;
    position: absolute;
    left: 0;
    top: -70px;
}

.text p {
    font-size: 20px;
    color: #6b7280;
    letter-spacing: 1;
    margin-bottom: 8px;
}

.text h1 {
    display: inline-block;
    font-size: 42px;
    font-weight: 500;
    color: #111827;
    font-family: "SN Pro", sans-serif;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
    padding-right: 5px;
    text-align: center;
    width: 0;
    animation: typed 5s infinite;
    position: relative;
}

.text h1::after {
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    border-radius: 30px;
    height: 80%;
    background-color: #0D6EFD;
    animation: cursor step-end .2s infinite alternate;
    margin: 0 auto;
}

#scroll-to-top {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    background-color: #2563eb;
    box-shadow: 0 10px 25px rgba(37, 100, 235, 0.446);
    color: #fff;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -50px;
    bottom: 30px;
    transition: .5s;
    z-index: 4;
}

#scroll-to-top i {
    font-size: 22px;
}

#scroll-to-top.show {
    right: 30px;
}

.custom-heading-section {
    font-size: 40px;
    font-weight: 700;
    color: #111827;
    margin-bottom: -5px;
    transition: 1s;
}

.custom-heading-section span {
    text-shadow: 0 10px 25px rgba(37, 100, 235, 0.286);
}

.icon-heading {
    font-size: 18px;
    color: #0D6EFD;
    position: relative;
}

.icon-heading::after {
    position: absolute;
    content: "";
    right: 15px;
    top: 50%;
    transform: translateY(-155%);
    ;
    width: 170px;
    height: 1px;
    background: linear-gradient(to left, #0D6EFD, #0d6dfd44);
    border-top-left-radius: 70%;
    border-bottom-left-radius: 70%;
}

.icon-heading .right-line {
    position: absolute;
    content: "";
    left: 15px;
    top: 50%;
    transform: translateY(-155%);
    width: 170px;
    height: 1px;
    background: linear-gradient(to right, #0D6EFD, #0d6dfd44);
    border-top-right-radius: 70%;
    border-bottom-right-radius: 70%;
}

#about .text {
    max-width: 900px;
    margin: 10px auto;
    padding: 10px;
}

#about .text p {
    font-size: 18px;
    line-height: 1.8;
    color: #6b7280;
    text-align: justify;
    font-weight: 400;
    transition: 1s;
}

@keyframes cursor {
    50% {
        background-color: transparent;
    }
}

@keyframes typed {
    0% {
        width: 0;
    }

    25% {
        width: 19ch;
    }

    50% {
        width: 19ch;
    }

    75% {
        width: 19ch;
    }

    100% {
        width: 0;
    }
}

.text h1,
.text h2 {
    transition: 1s;
}

@keyframes top-down-jumbing {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}

.scroll-down-animation {
    position: relative;
    width: 30px;
    height: 50px;
    border-radius: 60px;
    border: 2px solid #0d6efd;
    margin-top: 20px;
}

.scroll-down-animation .ball {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #0d6efd;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    animation: scroll-down 2s infinite ease-in-out;
}

@keyframes scroll-down {
    0% {
        top: 4px;
    }

    50% {
        top: 26px;
    }

    100% {
        top: 4px;
    }
}

#projects {
    min-height: 100vh;
    margin-top: 90px !important;
}

#projects .head-text {
    margin-bottom: 30px !important;
}

#projects .card {
    border: 1.9px solid rgba(37, 99, 235, 0.15);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.06);
    transition: .35s ease;
}

#projects .card:hover {
    box-shadow: 0 20px 45px rgba(37, 99, 235, 0.15);
}

#projects .card .img-container {
    position: relative;
}

#projects .card .img-container img,
#projects .card .img-container {
    transition: .3s;
}

#projects .card .img-container:hover img {
    transform: scale(1.16);
}

#projects .card .img-container:hover::after {
    position: absolute;
    content: "";
    inset: 0;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.57));
}

#projects .card h3 {
    font-size: 22px;
    font-weight: 600;
    color: #2563eb;
    transition: .3s;
}

#projects .card h4 {
    font-size: 16px;
    font-weight: 600;
    color: #111827;
    transition: .3s;
}

#projects .card p {
    font-size: 15.5px;
    line-height: 1.7;
    color: #6b7280 !important;
    text-align: justify;
    transition: .3s;
}

#projects .card .date-group {
    font-size: 14px;
    color: #6b7280;
    font-weight: 500;
    transition: .3s;
}


#projects .card .card-body .technologies {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: 8px;
    flex-wrap: wrap;
    transition: .3s;
}

#projects .card .card-body .tech {
    background-color: #eff6ff;
    color: #2563eb;
    font-size: 13px;
    padding: 6px 14px;
    border-radius: 90px;
    font-weight: 500;
    transition: .3s;
}

#education {
    margin-top: 90px !important;
}

#education .con-div-edu {
    background: linear-gradient(to bottom, #ffffff, #f8fbff);
    transition: 1s;
}

#education .edu-div {
    width: 45px;
    height: 45px;
    border-radius: 15px;
    font-size: 22px;
    background-color: #eff6ff;
    color: #2563eb;
    transition: 1s;
}


#education .edu-head::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 1.5px;
    background: linear-gradient(90deg, #0d6efd, #4da3ff);
    border-radius: 50px;
}

#education .edu-date {
    background: #e9f2ff;
    color: #0d6efd;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 50px;
    transition: 1s;
}

#education article p {
    font-size: 20px;
    line-height: 2;
    font-weight: 500;
    transition: 1s;
    color: #4b5563;
}

#skills {
    margin-top: 90px !important;
    height: 100vh;
}

#skills .carous {
    overflow: hidden;
    position: relative;
}

#skills .slider {
    padding: 20px 0;
}

#skills .slider {
    animation: slide 15s infinite linear;
}

#skills .carous::before,
#skills .carous::after {
    position: absolute;
    content: "";
    top: 0;
    width: 50px;
    height: 100%;
    z-index: 4;
    border-radius: 999px;
}

#skills .carous::before {
    left: 0;
    background: linear-gradient(to right, rgba(248,250,252,.85), transparent)
}

#skills .carous::after {
    right: 0;
    background: linear-gradient(to left, rgba(248,250,252,.85), transparent)
}

#skills .carous .logos-slider {
    white-space: nowrap;
}

#skills .carous .logos-slider .logo {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 18px;
    background-color: rgba(224, 242, 255, 0.8);
    border-radius: 50px;
    font-weight: 400;
    white-space: nowrap;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes slide-2 {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}


/* custom media query */


@media(max-width:576px) {
    .nav-links-custom {
        font-size: 15px !important;
    }

    .text h1 {
        text-align: center;
        font-size: 30px;
    }

    .text h2 {
        font-size: 25px;
    }

    .img-parent,
    .img-child {
        width: 230px;
        height: 230px;
    }

    .custom-heading-section {
        font-size: 28px;
    }

    .icon-heading::after,
    .icon-heading .right-line {
        width: 110px;
    }

    #education .con-div-edu h3 {
        font-size: 20px;
    }

    #education .con-div-edu .edu-date {
        font-size: 16px;
    }

    #education article p {
        font-size: 16px;
        line-height: 1.8;
    }

    #education .edu-div {
        height: 39px;
        width: 50px;
        font-size: 16px;
    }
}

@media (min-width:576px) and (max-width:768px) {
    #education .edu-date {
        width: 140px;
    }
}


@media (max-width:768px) {
    .navbar-brand {
        width: 150px;
    }

    .icon-page-1,
    .icon-page-2 {
        font-size: 35px;
    }

    .icon-page-1 {
        left: 25px;
        top: -10px;
    }

    .icon-page-2 {
        right: 25px;
        bottom: -20px;
    }

    .img-child img {
        top: -50px;
    }

    #education .con-div-edu h3 {
        font-size: 22px;
    }


}

@media (min-width:769px) and (max-width:992px) {
    .col-md-5 {
        width: 45%;
    }

    #projects .card p {
        height: 160px;
        margin-bottom: 0;
    }

    #projects .card .card-body .technologies {
        height: 71px;
    }
}

@media (min-width:993px) and (max-width:1200px) {
    .col-lg-3 {
        width: 32% !important;
    }
}



@media(min-width:992px) {
    .Custom-Border {
        border: none !important;
    }

    .img-parent {
        margin-top: 110px;
    }

}