@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif !important;
    color: #F6F6F8;
    height: 500vh;
    transition: 1s;
}

body.dark {
    background-color: #0F172A !important;
}

body.dark nav {
    background-color: #0F172A !important;
    color: #F6F6F8 !important;
    transition: .5s;
}

body.dark nav.nav-scroll {
    background: rgba(255, 255, 255, 0.15) !important;
    backdrop-filter: blur(10px) !important;
}

nav.nav-scroll {
    background: rgba(255, 255, 255, 0.15) !important;
    backdrop-filter: blur(10px) !important;
}

body.dark .nav-link {
    color: #ccc !important;
}

body.dark .nav-link.active {
    color: #F6F6F8 !important;
}

body.dark .nav-link:hover {
    color: #2696E9 !important;
}

body.dark .bi-sun-fill {
    color: gold;
    transition: 1s;
}

.nav-links-custom {
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 1.25rem !important;
    transition: 0.3s ease-in-out;

}

.nav-links-custom:hover {
    color: #135bec !important;
}

/* #Toggle-menu-custom {} */

#Toggle-menu-custom:focus {
    box-shadow: 0 0 0 0 !important;
    color: #2897EA !important;
}

.bi-moon-fill {
    color: #2a3d69;
    transition: 1s;
}

#Toggle-menu-custom:focus .navbar-toggler-icon {
    color: #2897EA !important;
}

.nav-custom {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar-brand {
    width: 200px;
}

.cv-btn {
    background-color: #2696E9 !important;
    color: white;
}

@media(max-width:576px) {
    .nav-links-custom {
        font-size: 15px !important;
    }
}

@media (max-width:768px) {
    .navbar-brand {
        width: 150px;
    }
}

@media(min-width:992px) {
    .Custom-Border {
        border: none !important;
    }
}