@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

::-webkit-scrollbar {
    width: 7px;
    z-index: -1
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.5) !important;
    box-shadow: 0 0 1px #ddd inset;
    backdrop-filter: blur(10px) !important;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(13, 110, 253, 60%);
    border-radius: 30px;

}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(13, 110, 253);
}

body {
    font-family: "SN Pro", sans-serif !important;
    background-color: #F6F6F8;
    height: 500vh;
    transition: 1s;
}

body.dark::-webkit-scrollbar-track {
    background-color: rgba(15, 23, 42, 0.6) !important;
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.1) !important;
}


body.dark {
    background-color: #0F172A !important;
}

body.dark i.bi-list {
    color: #0d6efd !important
}

body.dark nav {
    background-color: #0F172A !important;
    color: #F6F6F8 !important;
    transition: .5s;
    z-index: 10;
}

body.dark nav.nav-scroll {
    background: rgba(255, 255, 255, 0.15) !important;
    backdrop-filter: blur(10px) !important;
}

nav.nav-scroll {
    background: rgba(255, 255, 255, 0.15) !important;
    backdrop-filter: blur(10px) !important;
}

body.dark .nav-link {
    color: #ccc !important;
}

body.dark .nav-link.active {
    color: #F6F6F8 !important;
}

body.dark .nav-link:hover {
    color: #2696E9 !important;
}

body.dark .bi-sun-fill {
    color: gold !important;
    transition: 1s;
}

.nav-links-custom {
    font-size: 18px !important;
    line-height: 1.25rem !important;
    transition: 0.3s ease-in-out;
    font-weight: 500 !important;
}

.nav-links-custom:hover {
    color: #135bec !important;
}

#Toggle-menu-custom:focus {
    box-shadow: 0 0 0 0 !important;
    color: #2897EA !important;
}

.bi-moon-fill {
    color: #2a3d69 !important;
    transition: .3s;
}

.bi-moon-fill:hover {
    color: #0d6efd !important;
}

#Toggle-menu-custom:focus .navbar-toggler-icon {
    color: #2897EA !important;
}

.nav-custom {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-brand {
    width: 200px;
}

#home {
    margin-top: 5rem;
    position: relative;
    height: 86.2vh;
}

.icon-page-1 {
    position: absolute;
    left: 70px;
    top: 20px;
    font-size: 70px;
    transform: rotate(-30deg);
    color: rgba(13, 109, 253, 0.265);
    z-index: -1;
}



.icon-page-2 {
    position: absolute;
    right: 70px;
    bottom: 30px;
    font-size: 70px;
    transform: rotate(20deg);
    color: rgba(13, 109, 253, 0.265);
    z-index: -1;
}


.img-parent {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    background-color: #2896eabf;
    box-shadow: 3px 3px 10px 1px #2896eabf,
        -3px -3px 10px 1px #2896eabf;
    margin: 0 auto;
    color: rgba(0, 180, 2180, 0.06);
}

.img-child {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    animation: top-down-jumbing 5s infinite ease-in-out;
    border: 4px solid #F6F6F8;
}

.img-child img {
    width: 100%;
    position: absolute;
    left: 0;
    top: -70px;
}

.text p {
    font-size: 20px;
    color: #6b7280;
    letter-spacing: 1;
    margin-bottom: 8px;
}

.text h1 {
    font-size: 42px;
    font-weight: 500;
    color: #111827;
    font-family: "SN Pro", sans-serif;
}

@keyframes top-down-jumbing {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}

@media(max-width:576px) {
    .nav-links-custom {
        font-size: 15px !important;
    }

    .text h1 {
        text-align: center;
        font-size: 30px;
    }

    .text h2 {
        font-size: 25px;
    }

}

@media (max-width:768px) {
    .navbar-brand {
        width: 150px;
    }

    .icon-page-1,
    .icon-page-2 {
        font-size: 35px;
    }

    .icon-page-1 {
        left: 25px;
        top: -15px;
    }

    .icon-page-2 {
        right: 25px;
        bottom: 16px;
    }

    .img-parent,
    .img-child {
        width: 230px;
        height: 230px;
    }

    .img-child img {
        top: -50px;
    }
}

@media(min-width:992px) {
    .Custom-Border {
        border: none !important;
    }

    .img-parent {
        margin-top: 110px;
    }
}